.card_img {
    margin-top: 5px;
    width: 60px;
    border: 5px solid;
    border-color: rgb(255, 255, 255);
    border-width: thick;
    border-radius: 50%;
}

.card_col {
    margin-inline-start: 7px;
    background-color: rgb(163, 163, 163);
    border-radius: 3%;
}

.card_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

.card_text {
    font-size: medium;
    color: rgb(255, 255, 255);
}

.card_container {
    margin: 10px;
    width: auto;
}

.card {
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: rgb(100, 100, 100);
    border-color: transparent;
}

.card_body {
    justify-content: center;
    align-items: center;
    
}